@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer components {
  .button-general {
    @apply py-2 rounded-lg flex justify-center items-center btn-plain cursor-pointer text-sm focus:outline-black focus:outline-2;
  }
  .span-general {
    @apply btn-plain cursor-pointer text-sm  focus:underline;
  }
  .button-primary {
    @apply py-2 rounded-lg outline outline-2 outline-primary flex justify-center items-center bg-primary hover:bg-primary-dark text-white font-bold btn-plain cursor-pointer text-sm focus:outline-black focus:outline-2;
  }
  .button-outline {
    @apply py-2 rounded-lg outline outline-2 outline-primary flex justify-center items-center bg-white hover:bg-primary/20 text-primary font-bold btn-plain cursor-pointer text-sm focus:outline-black focus:outline-2;
  }
  .field-input {
    @apply w-full h-11 px-5 outline outline-1 outline-neutral-gray rounded-lg;
  }
  .button-left-bar {
    @apply btn-plain hover:bg-gray-200 w-full h-20 flex justify-between items-center bg-white text-xl font-bold text-gray-400;
  }
  .sub-button-left-bar {
    @apply btn-plain hover:bg-gray-200 w-full h-12 flex justify-start px-4 items-center bg-white font-semibold text-gray-400 pointer-events-auto;
  }
  .filter-search-bar {
    @apply w-full h-full pl-5 rounded-l-lg focus:border-primary focus:border-2 focus:outline-none;
  }
  .mini-jumbotron {
    @apply w-full h-32 lg:h-48 rounded-lg lg:rounded-2xl shadow-custom-lg border flex justify-between sm:justify-center items-center px-8 lg:px-0 lg:gap-x-9;
  }
}

html {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #009b90;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-plain {
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  transition-duration: 300ms;
}
.btn-plain:active:hover,
.btn-plain:active:focus {
  animation: none;
  transform: scale(var(--btn-focus-scale, 0.9));
}

.button-loading:before {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  border-width: 2px;
  animation: spin 2s linear infinite;
  content: "";
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: currentColor;
  border-right-color: currentColor;
}
@media (prefers-reduced-motion: reduce) {
  .button-loading:before {
    animation: spin 10s linear infinite;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bayangan-card {
  box-shadow: -1px -1px 5px 4px rgba(0, 12, 54, 0.01),
    2px 2px 2px rgba(33, 51, 96, 0.04), 4px 4px 4px 6px rgba(0, 155, 144, 0.04);
}

.bayangan-button {
  box-shadow: 4px 0px 2px rgba(32, 51, 96, 0.01),
    0px 4px 4px rgba(0, 0, 0, 0.03), 2px 2px 2px rgba(190, 190, 190, 0.08),
    -2px -2px 2px rgba(190, 190, 190, 0.08),
    -4px -4px 4px rgba(190, 190, 190, 0.06),
    8px 8px 4px rgba(190, 190, 190, 0.06);
}

.bg-admin {
  background: linear-gradient(
    155.7deg,
    #d6f5f3 -45.88%,
    #f7fcfc 45.77%,
    #f1f5fc 117.72%
  );
}

.bayangan {
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.08),
    0px 4px 12px 4px rgba(0, 0, 0, 0.08);
}

.bayangan-none {
  box-shadow: 0px 0px 0px 0px rgba(96, 33, 33, 0.08);
}
